services:
  app:
    container_name: app
    build:
      context: .
      dockerfile: dev.Dockerfile
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/mydatabase
    depends_on:
      db:
        condition: service_started
    volumes:
      - ./app:/app/app
      - ./public:/app/public
    restart: always
    networks:
      - my_network

  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: news
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - my_network

  nginx:
    image: nginx:latest
    ports:
      - "80:80" # Публикация порта для Nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro # Конфигурация для Nginx
    depends_on:
      - app
    networks:
      - my_network

networks:
  my_network:
    external: false

volumes:
  postgres_data: