@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c2531;
  --foreground: #1c2531;
  --textcolor: #c5c7c4;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-size: large;
  color: var(--textcolor);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.input-form {
  color: black;
}
.submit {
  background-color: white;
}
.submit:hover {
  background-color: rgb(153, 153, 153);
}